.containerSearchResult {
    background-color: #EEEEEE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;

    .containerCard {
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding: 0 2%;
        background-color: white;
        width: 80%;

        .containerDetail {
            display: flex;
        }

        .imgPriceDescription {
            display: flex;
            width: 80%;

            .price {
                margin-bottom: 1%;
            }

            .imgProduct {
                width: 20%;
            }

            .imgAndDescription {
                width: 70%;
                margin-top: 3%;

                .imgCar {
                    width: 2.5%;
                }
            }
        }

        .place {
            width: 20%;
            margin-top: 3%;
            font-size: 12px;
            color: #999999;
        }

        .hr {
            width: 100%;
        }
    }
}