@import '../../utils/variables.scss';

.containerSearchResult {
    background-color: $quinary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5.5% 5.5%;

    .containerCard {
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding: 2%;
        background-color: white;
        width: 80%;
        margin-top: 0.3%;

        .containerDetail {
            display: flex;
        }

        .imgPriceDescription {
            display: flex;
            width: 80%;

            .price {
                margin-bottom: 1%;
            }

            .imgProduct {
                width: 20%;
                border-radius: 3px;
            }

            .imgAndDescription {
                width: 70%;
                margin-top: 3%;
                margin-left: 2%;

                .imgCar {
                    width: 2.5%;
                }
            }
        }

        .place {
            width: 20%;
            margin-top: 3%;
            font-size: 12px;
            color: $quaternary-color;
        }

    }
}