.containerItemDetail {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5.5%;

    .sectionOne {
        display: flex;
        height: 70%;

        .imgItem {
            width: 70%;
        }

        .detailItem {
            text-align: left;
            width: 30%;
        }
    }
}