@import '../../utils/variables.scss';

.container {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;

    .logo {
        display: flex;
        margin-right: 2%;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 100%;
        cursor: pointer;
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 3px;
        width: 70%;
        height: auto;

        input {
            border-color: transparent;
            border-radius: 2px;
            color: $quaternary-color;
            width: 100%;
            margin-left: 1%;
            outline: none;

        }

        img {
            background-color: $quinary-color;
            padding: 1%;
            border-radius: 0px 3px 3px 0px;
        }
    }

}