@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import './utils/variables.scss';

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $quinary-color;
  font-family: 'Open Sans', sans-serif;
}